* {
    margin: 0;
    background: rgb(156, 11, 11);
}

.container0 {
    background: linear-gradient(rgb(255, 231, 20),black);
    width: 1917px;
    height: 300px;
    text-align: center;
    margin-top: 156.5px;    
    border: 2px rgb(255, 255, 255) solid;
}
.container1 {   
    width: 1917px;
    height: 300px;
    background: linear-gradient(rgb(255, 231, 20),black);
    text-align: center;   
    border: 2px rgb(255, 255, 255) solid;
}
img {
    width: 300px;
    height: 298px;
}
