* {
    margin: 0;
    background-color: #000;
    position: relative;
}
.container1 {
    width: 938px;
    position: absolute;
    top: 459px;
    left: 504.5px;
    box-sizing: border-box;
}
.container2 {
    width: 938px;
    position: absolute;
    top: 146.5px;
    left: 504.5px;
    box-sizing: border-box;
}
img {
    border: 5px rgb(255, 255, 255) solid;
    width: 300px;
    height: 300px;
}
video {
    border: 5px rgb(255, 255, 255) solid;
    width: 300px;
    height: 300px;
}
